.items-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 3em;
  gap: 2em;
  margin: 0 auto;
  width: 80%;
}

.items-options {
  display: flex;
  justify-content: space-between;
  background-color: rgb(236, 236, 236);
  border-bottom: 1px solid rgb(216, 216, 216);
  padding: 0.5em 1em;
}
a {
  color: black;
}

@media screen and (max-width: 1400px) {
  .items-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 950px) {
  .items-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 1em 3em;
  }
}

@media screen and (max-width: 530px) {
  .items-container {
    grid-template-columns: 1fr;
  }
  :root {
    font-size: 14px;
  }
}
