.main-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5em;
  border-bottom: 1px solid rgb(216, 216, 216);
}

.nav-links {
  display: flex;
  gap: 1.5em;
}

.link {
  display: block;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.nav-title {
  font-size: 1.5em;
}

.toggle-button {
  display: none;
  position: absolute;
  cursor: pointer;
  right: 3.4em;
  top: 1.5em;
}

.profile-pic {
  border-radius: 50%;
  height: 3em;
}

.profile-pic-container {
  display: flex;
  align-items: center;
}

@media (max-width: 600px) {
  .main-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle-button {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 0.2em;
  }

  .nav-links.active {
    display: flex;
  }

  .profile-pic {
    display: none;
  }
}
