.main-header {
  display: flex;
  justify-content: space-around;
  border-bottom: 0.1em solid rgb(201, 201, 201);
}

.header-link {
  text-decoration: none;
  padding: 1.2rem 0;
  border-bottom: 0.15rem solid rgba(0, 0, 0, 0);
  margin-bottom: -0.15rem;
  letter-spacing: 0.05em;
  font-weight: 500;
  color: inherit;
}

.header-link:hover {
  border-bottom: 0.15rem solid rgb(0, 0, 0);
  cursor: pointer;
}

.nav-links {
  display: flex;
  width: min(75rem, 90%);
  gap: 2rem;
  align-items: center;
  justify-content: space-around;
}

.centered {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.btn-google {
  display: flex;
  align-items: center;
  gap: 0.3em;
}
