.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  background-color: rgb(238, 238, 238);
  border: 1px solid black;
  width: fit-content;
  border-radius: 10px;
  margin-top: 2em;
}
td {
  padding: 0.5em 1em;
}

button[type='submit'] {
  border-radius: 5px;
  padding: 0.3em 1em;
  cursor: pointer;
  transition: background-color 0.2s;
}
button[type='submit']:hover {
  background-color: white;
}

.input-number-item-form {
  width: 60%;
  border: none;
  border-radius: 1em;
  padding: 0.5em 1em;
  font-family: 'Poppins';
}

.input-file-item-form {
  width: 250px;
}

.input-text-item-form {
  border: none;
  border-radius: 1em;
  padding: 0.5em 1em;
  font-family: 'Poppins';
}
