.item {
  display: flex;
  flex-direction: column;
  position: relative;
}

.item img {
  max-width: 100%;
}

.image-info {
  text-align: center;
}

.image-header {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: 0.3em;
  gap: 0.5em;
}

.icon-wrapper-rounded {
  display: flex;
  width: fit-content;
  height: fit-content;
  padding: 0.3em;
  background-color: rgb(245, 245, 245);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s;
}

.icon-wrapper-rounded:hover {
  background-color: white;
}

a {
  display: flex;
  width: fit-content;
  height: fit-content;
}

.image {
  height: 100%;
}
